body {
    margin: 0;
}

html {
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Roboto';
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.wrapper{
    margin: 0 150px;

}

.head-wrap{
    display: flex;
    justify-content: space-between;
}

.cart-div{
    padding-top: 10px;
}

.icon-cart{
    text-decoration: none;
    color:#767272;
    border:1px solid black;
    border-radius: 50%;
    padding: 5px;
}

.mac{
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 10px 0 25px 0;
}

.slider{
    margin-bottom: 32px;
    position: relative;
}

.slider-block{
    text-align: center;
    position: absolute;
    top:27%;
    left:38%;
}

.slider-title{
    font-size: 72px;
    letter-spacing: 2px;
    font-weight: 400;
    color: #FFF;
    margin-bottom: 22px;
}

.slider-but{
    padding:14px 25px;
    background-color: #0E49B5;
    border: #0E49B5;
    border-radius: 5px;
    font-size: 20px;
    color: #FFF;
    cursor: pointer;
}

.ipad-ban{
    width:100%;
    object-fit: contain;
}

.finder{
    margin-bottom: 40px;
}

.input-finder{
    border: none;
    border-radius: 3px;
    width: 100%;
    height: 60px;
    box-shadow: 0px 3px 5px 5px #DDDADA;
    /* background: url(icons/search.svg)  no-repeat center left; */
    padding-left:30px;
}

.mainblock{
    display: flex;
}

.filter{
    /* width: 33.33334%; */
}

.items{
    /* width:66.66666%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    position: relative;
    box-shadow: 0px 3px 5px 5px #E0E0E0;
    border-radius: 5px;
    margin: 0 40px 50px 0;
    width: 320px;
    text-align: center;
}

.icon-like_empty{
    position:absolute;
    top:17px;
    right:17px;
}

.card-img{
    height: 200px;
    width: auto;
    object-fit: contain;
    margin-top: 20px;
}

.card-title{
    font-size: 24px;
    text-align: center;
}

.price,
.left{
    color: rgba(118, 114, 114, 1);
    font-size: 14px;
    text-align: center;
}

.price{
    margin:8px 0 11px 0;
}

.stock{
    text-align: center;
}

.but_add,
.but_disabled{
    display: inline-block;
    margin: 0 auto 14px auto;
    padding:14px 25px;
    background-color: #0E49B5;
    border: #0E49B5;
    border-radius: 5px;
    font-size: 20px;
    color: #FFF;
    cursor: pointer;
}

.but_disabled{
    background-color: #E5E5E5;
    border: #E5E5E5;
}

.grey{
    display: flex;
    justify-content: space-between;
    color: #3B3E66;
    background-color: #DAE2EA;
    font-size: 14px;
    padding-bottom: auto;
}

.spanDiv,
.second{
    font-weight: 700;
}

.first{
    display: flex;
    margin:19px 0px 29px 13px;;
}

.second{
    margin:19px 23px 29px 0px;
}

.secondFirst{
    text-align: left;
}
