@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8ifbjt');
  src:  url('fonts/icomoon.eot?8ifbjt#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8ifbjt') format('truetype'),
    url('fonts/icomoon.woff?8ifbjt') format('woff'),
    url('fonts/icomoon.svg?8ifbjt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_left:before {
  content: "\e900";
}
.icon-cart:before {
  content: "\e901";
}
.icon-check:before {
  content: "\e902";
  font-size: 15px;
  color:rgb(27, 201, 6);
  padding: 1px;
  border: 1px solid rgb(27, 201, 6);
  border-radius: 50%;
  position: relative;
  right:1px;
}
.icon-close:before {
  content: "\e903";
  font-size: 22px;
  color: red;
  position: relative;
  top:3px;
}
.icon-filter:before {
  content: "\e904";
  color: #fff;
}
.icon-like_empty:before {
  content: "\e905";
}
.icon-like_filled:before {
  content: "\e906";
  color: #F05454;
  padding-right: 12px;
  font-size: 18px;
}
.icon-search:before {
  content: "\e907";
}
.icon-settings:before {
  content: "\e908";
}
.icon-mac:before {
  content: "\e909";
}
